:root{
    --primary-color : #000;
}

body{
    font-family: Arial, Arial, Helvetica, sans-serif;
    line-height: 1.4;
    padding: 1rem;
}

.signature-pad-form{
    max-width: 300px;
    margin: 0 auto;
}

.signature-pad{
    cursor: pointer;
    border: 2px solid var(--primary-color); 
    border-radius: 4px;
}

.submit-btn, .clear-btn{
    width: 100%;
    background-color: var(--primary-color);
    border: none;
    padding: 0.5rem 1rem;
    color: #fff;
    cursor: pointer;
    margin-top: 1rem;
}

.clear-btn{
   left: 38%;
   position: relative;
}
@media (pointer: coarse){
    body{
        overflow: hidden;
    }
}